.e-quick-popup-wrapper .e-event-popup .e-popup-header .e-header-icon-wrapper .e-edit .e-delete .e-save-icon {
  display: none !important;
}
.e-save-icon::before {
  display: none !important;
}

.booking-sweetalert-container {
  z-index: 9999;
}
